.hero__container {
  display: flex;
  flex-direction: column;
  background-color: $lavender;
  // width: 100vw;
  height: 600px;
  align-content: center;
  overflow-x: hidden;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.hero__image {
  width: 200px;
  height: auto;
}

.brand {
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  margin: $m-size;
}

.hamburger-icon {
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 5%;
  background-color: $ivory;
  margin: $m-size;
  font-size: $l-size;
  // margin-left: auto;
  align-self: center;
}

@media (min-width: $mobile-landscape-breakpoint) {
  
}

@media (min-width: 676px) {
  .hamburger-icon {
    display: none;
  }
  .brand-logo {
    display: none;
  }
}

@media (min-width: $tablet-breakpoint) {
  
}

@media (min-width: $desktop-breakpoint) {
  
}

@media (min-width: $large-desktop-breakpoint) {
  
}


