.menu-div {
  background-color: $ivory;
}

// .menu__container {
//   max-width:
// }

.menu-group__hero {
  display: flex;
  justify-content: space-between;
}

.menu__main-title {
  font-size: 2.4rem;
  color: $ivory-shade-dark;
  margin-left: $m-size;
}

.menu__hero__img {
  width: 400px;
  height: 400px;
  margin-right: $m-size;
}

.menu__hero__img[data-scroll="in"] {
  // transform: rotateX("30deg");
  transition: 2s;
  transform: translateX(0) rotateX(30deg) rotate(5deg);
  // transform: translateX(0) rotate(10deg);
}

.menu__hero__img[data-scroll="out"] {
  transform: translateX(600px) rotateX(-30deg) rotate(-5deg);
  // transform: translateX(600px) rotate(-10deg);
}

.menu__hero__img__grillchicken {
  width: 350px;
  height: 350px;
  margin: 4rem 0;
}

.menu__hero__img__mojitos {
  width: 250px;
  height: 250px;
  margin: 3rem 0;
}

.menu__item-group__title {
  font-size: 2.6rem;
  color: $ivory-shade-dark;
  align-self: center;
  margin-right: 1.5rem;
  margin-left: $m-size;
}

.menu__item-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  width: 140px;
  margin: 0.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 10px 0px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 10px 0px #ccc;
  background-color: white;
}

// .menu__item:last-child {
//   margin-right: auto;
//   margin-left: 1.6rem;
// }

.menu__item__image {
  width: 100%;
  // height: auto;
}

.menu__item__text {
  padding: 0.5rem $s-size;
  margin: 0;
}

.menu__item__title {
  font-size: 1.4rem;
  color: $ivory-shade-dark;
}

.menu__item__price {
  font-size: 1.6rem;
  color: $ivory-shade-dark;
}

// .menu__item {
//   width: 45%;
//   border: 0.001px solid $ivory-shade-dark;
//   border-radius: 3%;
//   margin-left: 0.3rem;
//   margin-bottom: 0.3rem;
//   color: $ivory-shade-dark;
// }

@media (max-width: 350px) {
  .menu__item {
    width: 120px;
  }
}

@media (min-width: 676px) {
  .menu__main-title {
    font-size: $l-size;
  }

  .menu__hero__img {
    width: 450px;
    height: 450px;
  }

  .menu__hero__img__grillchicken {
    width: 400px;
    height: 400px;
  }

  .menu__hero__img__mojitos {
    width: 300px;
    height: 300px;
  }

  .menu__item {
    margin: $m-size;
    width: 160px;
  }
  .menu__item-group__title {
    font-size: $l-size;
  }

  .menu__item__title {
    font-size: 1.6rem;
  }

  .menu__item__price {
    font-size: 1.8rem;
  }
}

@media (min-width: $tablet-breakpoint) {
  .menu__hero__img {
    width: 500px;
    height: 500px;
  }
  .menu__hero__img__grillchicken {
    width: 450px;
    height: 450px;
  }

  .menu__hero__img__mojitos {
    width: 350px;
    height: 350px;
  }

  .menu__item-group__title {
    font-size: $l-size;
    align-self: center;
  }
  .menu__item {
    width: 200px;
  }
}

@media (min-width: $desktop-breakpoint) {
  // .menu__item {
  //   width: 220px;
  // }
  .menu__hero__img {
    width: 550px;
    height: 550px;
  }

  .menu__hero__img__grillchicken {
    width: 500px;
    height: 500px;
  }

  .menu__hero__img__mojitos {
    width: 400px;
    height: 400px;
  }

  .menu__main-title {
    font-size: $xl-size;
  }
  .menu__item-group__title {
    font-size: $xl-size;
  }
}

@media (min-width: $large-desktop-breakpoint) {
}
