.navbar-visible {
  // padding: $s-size 0;
  transform-origin: right;
  transition: 0.5s;
  transform: translateX(0);
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  // align-items: flex-end;
  width: 70%;
  // height: 100vh;
  background-color: $ivory;
  z-index: 200;
  // margin-left: auto;
  // display: none;
}

.navbar__container__desk {
  display: flex;
  flex-direction: column;
}

.nav__item {
  margin: $m-size;
  color: $lavender-dark;
}

.brand-logo-web {
  display: none;
}

.navbar__close-btn {
  // border: none;
  width: fit-content;
  border: none;
  margin: $m-size;
  background-color: $lavender;
  color: $lavender-dark;
  padding: 1rem $m-size;
  border-radius: 9%;
  margin-left: auto;
}

.navbar-invisible {
  @extend .navbar-visible;
  visibility: hidden;
  transition: 0.5s;
  transform: translateX(2000px);
}

@media (min-width: $mobile-landscape-breakpoint) {

}

@media (min-width: 676px) {
  .navbar {
    width: 100%;
    visibility: visible;

    position: fixed;
    top: 0;
    left: 0;

    transition: 0s;
    transform: translateX(0);
    background-color: $lavender;
  }
  .navbar__container__desk {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    padding: 0 $m-size;
  }
  .navbar__close-btn {
    display: none;
  }
  .brand-logo-web {
    display: inline-block;
    margin: $m-size;
  }
  .nav__item {
    align-self: center;
  }
}

@media (min-width: $tablet-breakpoint) {
  
}

@media (min-width: $desktop-breakpoint) {
  
}

@media (min-width: $large-desktop-breakpoint) {
  
}

