html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  position:relative;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a {
  text-decoration: none;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 3000;
  display: none;
}

.scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  /* padding: 15px; */
  border-radius: 50%;
  padding: 10px 15px;
}

.scrollToTopBtn:hover {
  background-color: #555;
}

.margin-y_remove {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.transparency {
  background-color: rgba(227, 227, 242, 0.7) !important;
}

