// Colors
$ivory: #FFFFF0;
$ivory-shade: #E5E5D6;
$ivory-shade-medium: #CCCCBD;
$ivory-shade-dark: #B3B3A5;
$lavender: #E3E3F2;

// Sizes

$desktop-breakpoint: 45rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
